<html>
    <title>register-page</title>
    <body>
        <div>
            <form method="post">
                {{form.csrf_token}}
                <p>username</p> {{form.username}}<br>
                <p>email</p>{{form.email}}<br>
                <p>password</p>{{form.password}}<br>
                <p>password_again</p>{{form.password_confirm}}<br>
                {{form.submit}}<br>
            </form>
        </div>
        <div>
            <p><a href={{url_for('auth.register_by_tel')}}>register by telnumber</a></p>
        </div>
        <div>
            <p><a href={{url_for('auth.login')}}>back to login</a></p>
        </div>
    </body>
</html>