<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>email</title>
    <!--<link href="../css/profile.css" type="text/css"  rel="stylesheet" media="screen" />-->
    <!--<script type="text/javascript" src="../js/jquery.js"></script>-->
    <!--<script type="text/javascript" src="../js/profile.js"></script>-->
    <link href={{url_for('static', filename="css/profile.css")}} type="text/css"  rel="stylesheet" media="screen" />
    <script type="text/javascript" src={{url_for('static', filename="js/jquery.js")}}></script>
    <script type="text/javascript" src={{url_for('static', filename="js/email.js")}}></script>
</head>
<body>
	<div id="bgPicture">
        <img src={{url_for('static', filename="images/pixa.jpg")}}>
    </div>

    <div id="banner">
        <div class="subBox"></div>
        <div class="subBox"></div>
        <div class="subBox">Logo</div>
        <div class="subBox home"><a href={{url_for('main.index')}}>首页</a></div>
        <div class="subBox"><a href="./technol.html">头条</a></div>
        <div class="subBox"><a href="./tools.html">专栏</a></div>

        <div class="subBox right"></div>
        <div class="subBox right"></div>
        <div class="subBox right avatar"><img src={{url_for('static', filename=picSrc)}} alt=""></div>
        <div class="subBox right"><a href="./tools.html">账号</a></div>
        <div class="subBox right"><a href={{url_for('auth.edit_profile')}}>设置</a></div>
    </div>

    <div id="leftTitle">
        <ul>
            <li class="other"><a href={{url_for('auth.edit_profile')}} style="padding-left: 7%">基本资料</a></li>
            <li class="other"><a href={{url_for('auth.change_tel')}}>手机</a></li>
            <li class="selected"><a href={{url_for('auth.change_email')}}>邮箱</a></li>
            <li class="other"><a href={{url_for('auth.change_password')}}>密码</a></li>
        </ul>
    </div>

    <div id="rightDetail">
        <div id="flash_alert">
            {% for message in get_flashed_messages()%}
            <div id="alert">
                {{message}}
                <button type="button" id="msgBtn" class="close" data-dismiss="alert">X</button>
            </div>
            {%endfor%}
        </div>

        <form method="post">
            {{form.csrf_token}}
            <div id="changeEmail">
                <label class="email">邮箱</label>
                {{form.inputEmail(placeholder="输入邮箱")}}
                <!--<input id="inputEmail" type="text" name="inputEmail" placeholder="输入邮箱">-->
                <label id="errorEmail" class="error-is-visible">请输入邮箱</label>
            </div>

            <input type="submit" name="save" id="saveButton" value="修改" />
        </form>
    </div>
</body>
</html>