<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>phone</title>
    <!--<link href="../css/profile.css" type="text/css"  rel="stylesheet" media="screen" />-->
    <!--<script type="text/javascript" src="../js/jquery.js"></script>-->
    <!--<script type="text/javascript" src="../js/profile.js"></script>-->
    <link href={{url_for('static', filename="css/profile.css")}} type="text/css"  rel="stylesheet" media="screen" />
    <script type="text/javascript" src={{url_for('static', filename="js/jquery.js")}}></script>
    <script type="text/javascript" src={{url_for('static', filename="js/phone.js")}}></script>
</head>
<body>
	<div id="bgPicture">
        <img src={{url_for('static', filename="images/pixa.jpg")}}>
    </div>

    <div id="banner">
        <div class="subBox"></div>
        <div class="subBox"></div>
        <div class="subBox">Logo</div>
        <div class="subBox home"><a href={{url_for('main.index')}}>首页</a></div>
        <div class="subBox"><a href={{url_for('main.recommend')}}>推荐</a></div>
        <div class="subBox"><a href={{url_for('main.writeEssay')}}>提问</a></div>

        <div class="subBox right"></div>
        <div class="subBox right"></div>
        <div class="subBox right avatar"><img src={{url_for('static', filename=picSrc)}} alt=""></div>
        <div class="subBox right"><a href={{url_for('main.user', name=user.username)}}>账号</a></div>
        <div class="subBox right"><a href={{url_for('auth.edit_profile')}}>设置</a></div>
    </div>

    <div id="leftTitle">
        <ul>
            <li class="other"><a href={{url_for('auth.edit_profile')}} style="padding-left: 7%">基本资料</a></li>
            <li class="selected"><a href={{url_for('auth.change_tel')}}>手机</a></li>
            <li class="other"><a href={{url_for('auth.change_email')}}>邮箱</a></li>
            <li class="other"><a href={{url_for('auth.change_password')}}>密码</a></li>
        </ul>
    </div>

    <div id="rightDetail">
        <div id="flash_alert">
            {% for message in get_flashed_messages()%}
            <div id="alert">
                {{message}}
                <button type="button" id="msgBtn" class="close" data-dismiss="alert">X</button>
            </div>
            {%endfor%}
        </div>

        <form method="post">
            {{form.csrf_token}}
            <div id="changePhone">
                <label class="phone">手机</label>
                {{form.inputPhone(placeholder="输入手机号")}}
                <!--<input id="inputPhone" type="text" name="inputPhone" placeholder="输入手机号">-->
                <label id="errorPhone" class="error-is-visible">请输入手机号</label>
                <p>
                    <span><input type="submit" name="send" id="idcodeBtn" value="获取验证码" /></span>
                    <span><input id="inputVcode" type="text" name="code" id="idcode" value="" placeholder="验证码"/></span>
                    <span id="errorCode" class="error-is-visible">请输入验证码</span><br>
                </p>
            </div>

            <input type="submit" name="save" id="saveButton" value="修改" />
        </form>
    </div>
</body>
</html>