<html>
    <title>login-page</title>
    <body>
        <!--<div>
            {{get_flashed_messages()[0]}}
        </div>-->
        <div>
            <form method="post">
                {{form.csrf_token}}
                <p>username</p>
                {{form.username_email}}<br>
                <p>password</p>
                {{form.password}}<br>
                {{form.submit}}<br>
            </form>
        </div>
        <div>
            <p><a href={{url_for('auth.reset_password_email')}}>forget-password</a></p>
        </div>
        <div>
            <p><a href={{url_for('auth.reset_password_tel')}}>forget-password-tel</a></p>
        </div>
        <div>
            <p><a href={{url_for('auth.register')}}>register</a></p>
        </div>
    </body>
</html>