<html>
    <title>register-page</title>
    <body>
        <div>
            <form method="post">
                {{form.csrf_token}}
                <p>username</p> {{form.username}}<br>
                <p>telnumber</p>{{form.telnumber}}<br>
                <p>password</p>{{form.password}}<br>
                <p>password_again</p>{{form.password_confirm}}<br>
                {{form.send}}<br>
                <p>code</p>{{form.validatecode}}<br>
                {{form.submit}}<br>
            </form>
        </div>
        <div>
            <p><a href={{url_for('auth.register')}}>register by email</a></p>
        </div>
        <div>
            <p><a href={{url_for('auth.login')}}>back to login</a></p>
        </div>
    </body>
</html>