<!DOCTYPE html>
<html>
	<head>
		<title>Retrive Password</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!--<link rel="Icon" href="./logo.png">-->
        <link href={{url_for('static', filename="/css/retrivepassword.css")}} type="text/css"  rel="stylesheet" media="screen" />
        <script type="text/javascript" src={{url_for('static', filename="/js/jquery.js")}}></script>
        <script type="text/javascript" src={{url_for('static', filename="/js/retrivepassword.js")}}></script>
	</head>

	<body>
        <div id="BgPicture">
            <img src={{url_for('static', filename="/images/pixa.jpg")}}>
        </div>
        <div id="SigninForm">
            <div id="header">
                <h1>逼乎</h1>
                <h2>与世界分享你装的逼</h2>
            </div>
            <div id="info">
                <form method="post">
                    <h3>找回密码</h3>

                    <div id="select">
                        <label for="byPhone"><input type="radio" name="byPhone" id="byPhone" class="select" value="" checked="true" >用手机号找回</label>
                        <label for="byEmail"><input type="radio" name="byEmail" id="byEmail" class="select" value="">用邮箱找回</label><br>
                    </div>

                    <div id="phoneMethod">
                        <input type="text" name="telnumber" id="phone" value="" placeholder="手机号"/>
                        <span><input type="text" name="code" id="idcode" value="" placeholder="验证码"/></span>
                        <span><input type="submit" name="send" id="idcodeBtn" value="获取验证码" /></span><br>
                    </div>

                    <div id="emailMethod">
                        <input type="text" name="email" id="email" value="" placeholder="邮箱地址"/> 
                    </div>

                    <input type="submit" name="submit" id="submitBtn" value="提交" />
                </form>
            </div>
        </div>
            
	</body>
</html>
