<!DOCTYPE html>
<html>
	<head>
		<title>retrive password</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!--<link rel="Icon" href="./logo.png">-->
        <link href={{url_for('static', filename="css/signup.css")}} type="text/css"  rel="stylesheet" media="screen" />
        <script type="text/javascript" src={{url_for('static', filename="js/jquery.js")}}></script>
        <script type="text/javascript" src={{url_for('static', filename="js/retrive.js")}}></script>
	</head>

	<body>
        <div id="BgPicture">
            <img src={{url_for('static', filename="images/pixa.jpg")}}>
        </div>
        <div id="SigninForm">
            <div id="header">
                <h1>逼乎</h1>
                <h2>与世界分享你装的逼</h2>
            </div>

            <div id="info">
                <form method="post">
                    {{form.csrf_token}}
                    <h3>更改密码</h3>
                    <label id="user">用户: {{email}}</label>
                    <input type="password" name="password" id="password" value="" placeholder="密码(不少于6位)"/>
                    <label id="errorPassword">请输入密码</label>
                    <input type="password" name="password_confirm" id="password_confirm" value="" placeholder="再次输入密码"/>
                    <label id="errorPasswordConfirm">再次输入密码</label>
                    <input type="submit" name="submit" id="submitBtn" value="确定" />
                </form>
            </div>

            <div id="link">
                <span><a href={{url_for('main.index')}}>返回首页</a></span>
                <span><p>|</p></span>
                <span><a href={{url_for('auth.login')}}>用户登录</a></span>
            </div>

        </div>

	</body>
</html>
