<!DOCTYPE html>
<html>
	<head>
		<title>Retrive Password</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!--<link rel="Icon" href="./logo.png">-->
        <link href={{url_for('static', filename="css/retrivepassword.css")}} type="text/css"  rel="stylesheet" media="screen" />
        <script type="text/javascript" src={{url_for('static', filename="js/jquery.js")}}></script>
        <script type="text/javascript" src={{url_for('static', filename="js/retrivepassword.js")}}></script>
	</head>

	<body>
        <div id="BgPicture">
            <img src={{url_for('static', filename="images/pixa.jpg")}}>
        </div>
        <div id="SigninForm">
            <div id="header">
                <h1>逼乎</h1>
                <h2>与世界分享你装的逼</h2>
            </div>
            <div id="info">
                <form method="post">
                    {{form.csrf_token}}
                    <h3>找回密码</h3>
                    <div id="flash_alert">
                        {% for message in get_flashed_messages()%}
                        <div id="alert">
                            {{message}}
                            <button type="button" id="msgBtn" class="close" data-dismiss="alert">X</button>
                        </div>
                        {%endfor%}
                    </div>

                    <div id="select">
                        <label for="byPhone"><input type="radio" name="by" id="byPhone" class="select" value="Phone" {{checked[0]}} checked="">用手机号找回</label>
                        <label for="byEmail"><input type="radio" name="by" id="byEmail" class="select" value="Email" {{checked[1]}}>用邮箱找回</label><br>
                    </div>

                    <div id="phoneMethod">
                        {{form.telnumber(placeholder="手机号")}}
                        <!--<input type="text" name="telnumber" id="telnumber" value="" placeholder="手机号"/>-->
                        <label id="errorPhone">请输入手机号</label>
                        <span><input type="text" name="code" id="idcode" value="" placeholder="验证码"/></span>
                        <span><input type="submit" name="send" id="idcodeBtn" value="获取验证码" /></span><br>
                        <label id="errorCode">请输入验证码</label>
                    </div>

                    <div id="emailMethod">
                        {{form.email(placeholder="邮箱地址")}}
                        <!--<input type="text" name="email" id="email" value="" placeholder="邮箱地址"/>-->
                        <label id="errorEmail">请输入邮箱</label>
                    </div>

                    <input type="submit" name="submit" id="submitBtn" value="提交" />
                </form>
            </div>
            <div id="link">
                <span><a href={{url_for('main.index')}}>返回首页</a></span>
                <span><p>|</p></span>
                <span><a href={{url_for('auth.login')}}>用户注册</a></span>
            </div>
        </div>
            
	</body>
</html>
