<!DOCTYPE html>
<html>
	<head>
		<title>Sign in</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!--<link rel="Icon" href="./logo.png">-->
        <link href={{url_for('static', filename="css/signin.css")}} type="text/css"  rel="stylesheet" media="screen" />
        <script type="text/javascript" src={{url_for('static', filename="js/jquery.js")}}></script>
        <script type="text/javascript" src={{url_for('static', filename="js/signin.js")}}></script>
	</head>

	<body>
        <div id="BgPicture">
            <img src={{url_for('static', filename="images/pixa.jpg")}}>
        </div>
        <div id="SigninForm">
            <div id="header">
                <h1>逼乎</h1>
                <h2>与世界分享你装的逼</h2>
            </div>
            <div id="info">
                <form method="post">
                    <h3>用户登录</h3>
                    {{form.csrf_token}}

                    <div id="flash_alert">
                        {% for message in get_flashed_messages()%}
                            <div id="alert">
                                {{message}}
                                <button type="button" class="close" id="msgBtn" data-dismiss="alert">X</button>
                            </div>
                        {%endfor%}
                    </div>

                    <label for="user">手机号/邮箱/用户名</label><br>
                    {{form.username_email}}<br>
                    <!--<input type="text" name="user" value="" /><br> -->

                    <label for="password">密码</label>                    
                    <a href={{url_for('auth.retrivepassword')}}>忘记密码?</a><br>
                    {{form.password}}
                    <!--<input type="text" name="password" value="" /><br>-->
                    <input type="submit" name="submit" id="submitBtn" value="登录" />
                </form>
            </div>
            <div id="link">
                <span><a href={{url_for('main.index')}}>返回首页</a></span>
                <span><p>|</p></span>
                <span><a href={{url_for('auth.register')}}>用户注册</a></span>
            </div>
        </div>
            
	</body>
</html>
