<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>304 Not Modified</title>
    <link href="../css/fault.css" type="text/css"  rel="stylesheet" media="screen" />
</head>
<body>
	<div id="bgPicture">
        <img src="../image/pixa.jpg">
    </div>

    <div id="banner">
        <div class="subBox"></div>
        <div class="subBox"></div>
        <div class="subBox">Logo</div>
        <div class="subBox home"><a href="./index.html">首页</a></div>
        <div class="subBox"><a href="./technol.html">头条</a></div>
        <div class="subBox"><a href="./tools.html">专栏</a></div>

        <div class="subBox right"></div>
        <div class="subBox right"></div>
        <div class="subBox right avatar"><img src="../image/avatar.jpg" alt=""></div>
        <div class="subBox right"><a href="./tools.html">账号</a></div>
        <div class="subBox right"><a href="./settings/html/profile">设置</a></div>
    </div>

    <div id="show">
        <h1 id="error">Error 304</h1>
        <p id="infor1">Not Modified</p>
    </div>

</body>
</html>